/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
// @import '~@angular/material/prebuilt-themes/indigo-pink.css';
// @import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
// @import '~@angular/material/prebuilt-themes/purple-green.css';

html,
body {
  height: 100%;
  background-color: white;
  color: #474747;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
}


.mat-card {
  margin: 2em;
  max-width: 400px;
  padding-top: 0;

  i {
      color: white;
  }

  i:hover {
      cursor: pointer;
  }

  i.overlay {
      position: absolute;
      left: 42%;
      top: 32%;
      font-size: 5em;
  }

  mat-card-content {
      display: flex;

      .fill {
          flex-grow: 1;
      }

      i {
          font-size: 16px;
          opacity: 0.6;

          &:hover {
              opacity: 1;
          }
      }

      mat-card-subtitle {
          display: inline-block;
          margin-bottom: 0;
      }
  }
}

.modal-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

  mat-card.mat-card {
      padding-top: 0;

      mat-card-content.mat-card-content {
          margin-top: 16px;
          margin-bottom: 0;
      }

      mat-card-actions {
          text-align: right;
          padding-top: 0;
      }
  }
}